.black-line hr {
  width: 980px;
  z-index: 99;
  color: #000;
}

.cont-title {
  margin-top: 30px;
  margin-left: 272px;
  font-size: 25px;
  font-family: GillSans;
}

hr {
  position: relative;
  width: 229px;
  padding-left: 100px;
  padding-right: 100px;
}